# We can set the version of Node to use for the app here
node_version=10.14.1

# We can set the version of NPM to use for the app here
npm_version=6.4.1

# Add the config vars you want to be exported here
config_vars_to_export=(DATABASE_URL)

# We can change the filename for the compile script with this option
compile="compile"
