<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>phl.ink</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-dark bg-dark fixed-top">
        <a class="navbar-brand mb-0 h1" href="/">phl.ink</a>

        <%= if assigns[:current_user] do %>
          <div>
            <span class="navbar-text">
              Hi <%= @current_user.name %>
            </span>
            <img src="<%= @current_user.avatar_url %>" height="20" width="20" class="rounded"/>
          </div>
        <% else %>
          <form class="form-inline" action="<%= Routes.auth_path(@conn, :index) %>">
            <button class="btn btn-outline-light">
              <i class="fab fa-github"></i>
              Sign in with GitHub
            </button>
          </form>
        <% end %>
      </nav>

      <%= render @view_module, @view_template, assigns %>

      <div class="footer text-center">
        <p>Built with <a href="http://elixir-lang.org">Elixir <%= elixir_version() %></a> and <a href="http://phoenixframework.org">Phoenix <%= phoenix_version() %></a></p>
      </div>
    </div>

    <script src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
