<h2>Show link</h2>

<ul>

  <li>
    <strong>Url:</strong>
    <a href="<%= @link.url %>"><%= @link.url %></a>
  </li>

  <li>
    <strong>Shortcode:</strong>
    <a href="<%= link_url(@conn, :unshorten, @link.shortcode) %>"><%= link_url(@conn, :unshorten, @link.shortcode) %></a>
  </li>

</ul>